.form_style_1 {
  position: relative;

  .element_wrap {
    width: 100%;
    margin: 0 0 4% 0;
    display: inline-block;
    vertical-align: top;

    label {
      display: block;
      font-weight: bold;
      margin: 0 0 4px 0;
      opacity: 0.8;
    }

    [type="text"],
    [type="password"],
    [type="email"],
    textarea,
    select {
      width: 100%;
      padding: 8px 20px;
      border-radius: 3px;
      border: 1px solid #b5b5b5;
      box-sizing: border-box;

      &.required {
        background: #ffe5e5;
        border: 1px solid #ff9393;
      }
    }

    select {
      width: 100%;
      padding: 7px 4%;
      border-radius: 3px;
    }

    &.one_half {
      width: 48.5%;
      margin: 0 0 3% 2%;
    }

    &.one_third {
      width: 31.5%;
      margin: 0 0 3% 2%;
    }

    &.two_thirds {
      width: 65.5%;
      margin: 0 0 3% 2%;
    }

    &.one_fourth {
      width: 23%;
      margin: 0 0 3% 2%;
    }

    &.one_fifth {
      width: 18%;
      margin: 0 0 3% 2%;
    }

    &.row_first {
      margin: 0 0 3% 0;
    }
  }

  .instructions {
    margin: 0 0 6px 0;
    opacity: 0.7;
    font-size: 14px;
  }

  .form_loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    background-size: 60px 60px;
    transition: all 0.2s ease;
    display: none;
    z-index: 99;
    text-align: center;

    svg {
      margin: 20px 0 0 0;
    }
  }

  [type="submit"] {
    font-size: 16px;
    padding: 8px 30px;
  }
}
